<p id="notice"><%= notice %></p>

<div class="row">
	<div class="column small-12">
		<h2>
		  <%= @event.name %>
		</h2>
	</div>
</div>

<div class="row">
	<div class="column small-12 large-6">
		<ul class="no-bullet">
			<li>
				<div class="row">
					<div class="column small-1">
						<i class="fi-clock"></i>
					</div>
					<div class="column small-11">
						<% if @event.end_time.present? && @event.time.to_date != @event.end_time.to_date %>
							<%= "#{@event.time.strftime('%-d %B %l:%M%P')}" + " - #{@event.end_time.strftime('%-d %B %l:%M%P')}" %>					
						<% else %>
							<%= "#{@event.time.strftime('%A %-d %B at %l:%M%P')}" + (@event.end_time.present? ? " - #{@event.end_time.strftime('%l:%M%P')}" : "") %>
						<% end %>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="column small-1">
						<i class="fi-map"></i>
					</div>
					<div class="column small-11">
						<%= @event.location %>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="column small-1">
						<i class="fi-dollar"></i>
					</div>
					<div class="column small-11">
						<%= @event.cost %>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="column small-1">
						<i class="fi-blind"></i>
					</div>
					<div class="column small-11">
						<%= @event.dance_styles.map(&:name).join(", ") %>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="column small-1">
						<i class="fi-home"></i>
					</div>
					<div class="column small-11">
						<%= @event.host %>
					</div>
				</div>
			</li>
			</ul>
		</ul>
	</div>
	<div class="column large-6">
	  	<%= image_tag @event.flyer_image.url %>
	</div>
</div>
<div class="row">
	<div class="column small-12">
		<h3>Description</h3>
		<p><%= simple_format @event.description %></p>
	</div>
</div>
