<p id="notice"><%= notice %></p>

<div class="row">
	<div class="column small-12">
		<h2>
		  <%= @event.name %>
		</h2>
	</div>
</div>

<div class="row">
	<div class="column small-12">
		<ul class="no-bullet">
			<li><i class="fi-clock"></i><%= @event.time.strftime("%l:%M %p") %></li>
			<li><%= @event.description %></li>
		</ul>
	</div>
</div>


<p>
  <strong>Flyer Image:</strong>
  <%= image_tag @event.flyer_image.url(:medium) %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
