<p id="notice"><%= notice %></p>

<div class="row">
	<div class="column small-12">
		<h2>
		  <%= @event.name %>
		</h2>
	</div>
</div>

<div class="row">
	<div class="column small-12 large-6">
		<ul class="no-bullet">
			<li>
				<div class="row">
					<div class="column small-1">
						<i class="fi-clock"></i>
					</div>
					<div class="column small-11">
						<%= @event.time.strftime("%l:%M %p") %>
					</div>
				</div>
				</li>
			<li><%= simple_format @event.description %></li>
		</ul>
	</div>
	<div class="column large-6">
	  	<%= image_tag @event.flyer_image.url %>
	</div>
</div>
