<article class="event-card">
    <div class="row collapse">
        <div class="column small-2 large-3">
            <%= link_to event_path(model) do %>
                <div class="event-date-container">
                    <%= image_tag(model.flyer_image.url(:square), class: "event-date-background") %>  
                    <div class="event-date">
                        <p class="event-month"><%= month %></p>
                        <p class="event-day"><%= day %></p>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="column small-10 large-9">
          <div class="event-desc">
            <h4 class="event-desc-header"><%= link_to name, event_path(model) %></h4>
            <p class="event-desc-detail muted">
                <% if model.end_time.present? && model.time.to_date != model.end_time.to_date %>
                    <%= "#{model.time.strftime('%-d %B %l:%M%P')}" + " - #{model.end_time.strftime('%-d %B %l:%M%P')}" %>
                <% else %>
                    <%= "#{model.time.strftime('%l:%M%P')}" + (model.end_time.present? ? " - #{model.end_time.strftime('%l:%M%P')}" : "") %>
                <% end %>
            </p>
            <p class="event-desc-detail"><%= location %></p>
            <p class="event-desc-detail"><%= styles %></p>
          </div>
        </div>
    </div>
</article>

<hr>
